* {
    margin: 0px;
    padding: 0px;
}


.pop-up-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.show-pop-up-container {
    opacity: 1;
    visibility: visible;

}

.pop-up-form {
    /* display: grid; 
    width: 40vw;
    height: 50vh;*/
    position: absolute;
    top: 50vh;
    left: 50vw;
    border: 1px dashed black;
    color: red;
    grid-template-rows: 1fr 3fr 1fr;
}

#pop-up-inputs {
    display: grid;
    place-content: center;
}

#pop-up-inputs * {
    margin-bottom: 5px;
}

ul {
    list-style: none;
}

.main-container {
    display: grid;
    grid-template-rows: 15vh 85vh;
}

.main-container-content {
    display: grid;
    grid-template-rows: 10% 90%;
}

.book-layout-section {
    display: grid;
    grid-template-columns: repeat(3, 33vw);
    
}

.book-cards {
    border: 1px solid black;
    height: max-content;
    width: max-content;
    padding: 4vw;
    line-height: 2;
}